# Python env/cache
__pycache__/
*.pyc
.venv/
venv/
.env

# Notebooks checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Large binaries (ajusta si deseas permitirlos)
*.zip
*.tar
*.tar.gz
*.7z
